.tabs {
    border-bottom: 1px solid #858484;
    margin-top: 80px;
    padding: 0;
    display: flex;
    list-style: none;
}

.empty {
    margin: 20px;
    font-size: 20px;
}

.tabs a {
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.tabs a.active {
    color: red;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 60px 20px;
}

.item {
    text-align: center;
}

.item-image {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.item-image img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.item-name {
    text-align: left;
    font-size: 18px;
    padding: 10px 0 20px 20px;
}

.sold-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    background: rgba(234, 130, 130, 0.9);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    z-index: 10;
    white-space: nowrap;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .tabs {
        margin-top: 50px;
    }

    .tabs a {
        margin: 0;
        padding: 0 30px;
    }

    .item-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 50px 10px;
    }

    .item-image {
        margin: 10px 0;
    }

    .item-name {
        margin: 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    .tabs {
        margin-top: 50px;
    }

    .tabs a {
        margin: 0;
        padding: 0 40px;
    }

    .item-list {
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 10px;
    }

    .item-image {
        margin: 10px 0;
    }

    .item-name {
        margin: 0 0 0 30px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    .tabs {
        margin-top: 50px;
    }

    .tabs a {
        margin: 0;
        padding: 0 20px;
    }

    .item-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-image {
        margin: 10px 0;
    }

    .item-name {
        margin: 0 0 0 45px;
    }
}

@media (max-width: 768px) {
    .tabs {
        margin-top: 50px;
    }

    .tabs a {
        margin-left: 20px;
    }

    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 50px 10px;
    }

    .item-name {
        margin: 0 0 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .item-list {
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 20px;
    }

    .item-name {
        margin: 0 0 0 20px;
    }

    .tabs li {
        text-align: center;
    }

    .tabs {
        display: flex;
        justify-content: center;
    }

    .tabs a {
        margin: 0 20px;
        padding: 0;
    }

    .sold-label {
        top: 50%;
    }
}
