.tabs {
    border-bottom: 1px solid #858484;
    margin-top: 80px;
}

.empty {
    margin: 20px;
    font-size: 20px;
}

.tabs a {
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.tabs a.active {
    color: red;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 60px 30px;
}

.item {
    text-align: center;
}

.item-image img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.item-name {
    text-align: left;
    font-size: 18px;
    padding: 10px 0 0 10px;
}

.item-status {
    font-weight: bold;
    color: #ff0000;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
