.mypage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 50px;
}

.user-image-preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ddd;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    margin: 0 40px 0 110px;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-image-preview img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.mypage-content h1 {
    display: inline-block;
    font-size: 40px;
    margin-left: 50px;
}

.profile-link {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    border: 1px solid #ff5555;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.mypage-content a,
.profile-link a {
    border: none;
    border-radius: 3px;
    color: #ff5555;
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.mypage-content a:hover {
    color: #ee7f7f;
}

.tabs {
    border-bottom: 1px solid #858484;
    margin-top: 50px;
    padding: 0;
}

.tabs li {
    list-style: none;
    display: inline-block;
}

.tabs a {
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.tabs a.active {
    color: red;
}

.empty {
    margin: 20px;
    font-size: 20px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 0;
}

.item {
    text-align: center;
}

.item-image img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.item-name {
    text-align: left;
    font-size: 18px;
    padding: 10px 0 0 30px;
}

.item-status {
    font-weight: bold;
    color: #ff0000;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .item-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 50px 10px;
    }

    .item-name {
        margin: 0;
    }

    .mypage-content {
        margin: 0 0 0 50px;
    }

    .mypage-content h1 {
        margin: 0;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-name {
        margin: 0 0 40px 30px;
    }

    .mypage-content {
        margin: 0 0 0 50px;
    }

    .mypage-content h1 {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .tabs {
        text-align: center;
    }

    .tabs a {
        margin: 0 40px;
    }

    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 50px 10px;
    }

    .mypage-content h1 {
        margin: 10px;
    }

    .user-image-preview {
        margin: 0 20px 10px 0;
    }

    .item-image {
        margin: 10px 0;
    }

    .item-name {
        font-size: 18px;
    }

    .mypage-content {
        margin: 0 0 0 80px;
    }

    .mypage-content img {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 480px) {
    .tabs a {
        margin: 0 15px;
    }

    .item-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 40px 20px;
    }

    .profile-link {
        margin-top: 20px;
    }

    .mypage-content {
        margin: 0 auto;
        flex-direction: column;
    }
}
