.thanks_buy {
    margin: 0 auto;
    text-align: center;
}

.thanks_buy__message {
    font-size: 40px;
    font-weight: bold;
    margin: 200px 0 50px;
}

.mypage__link a {
    font-size: 20px;
    color: #747070;
}

.mypage__link a:hover {
    color: #dcd7d7;
}

.card-payment__link {
    margin-bottom: 10px;
}

.card-payment__link a {
    font-size: 20px;
    color: #747070;
}

.card-payment__link a:hover {
    color: #dcd7d7;
}

@media (max-width: 768px) {
    .thanks_buy__message {
        font-size: 28px;
    }

    .mypage__link a,
    .card-payment__link a {
        font-size: 16px;
    }
}
