.verify-email {
    margin: 0 auto;
}

.verify-email h1 {
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 30px;
}

.verify-email p {
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.message {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 18px;
}

.verify-email-button {
    text-align: center;
}

.verify-email-button__submit {
    border: none;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 30px;
    width: 20%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}

.verify-email-button__submit:hover {
    background: #ee7f7f;
}

@media (max-width: 768px) {
    .verify-email h1 {
        font-size: 20px;
    }

    .verify-email p {
        font-size: 14px;
    }

    .verify-email-button__submit {
        width: 40%;
    }
}
